@font-face {
    font-family:"logo" ;
    src: url(../fonts/Butcherman-Regular.ttf);
}

@font-face {
    font-family: "regular";
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "bold";
    src: url(../fonts/Roboto-Bold.ttf);
}
